/* Conceptmap */
body
{
	background-color: darkred;
	padding-top: 35px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 24px;
}
h1
{
	
}
h2
{
	
}
img
{
	padding: 5px;
	background-color: rgba(171,216,225,1.00);
}
h4
{
	text-align: left;
	padding-left: 20px;
	padding-bottom: 20px;
}
#note
{
	color: red;
	font-style: italic;
}
#header
{
	padding-top: 15px;
	clear: both;
	text-align: center;
	background-color: black;
	color: rgba(148,193,28,1.00);
}
#content
{
	padding-left: 0px;
	padding-top: 20px;
}
#container
{
	padding: 25px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}
p
{
	padding-left: 20px;
}
.shorter
{
	width: 65%
}
.border
{
	border: thick solid black;
}
.subtitles
{
	padding-left: 20px;
	background: linear-gradient(to right, rgba(171,216,225,1.00) , white);
}
.types
{
	font-weight: 600;
	font-size: 30px;
	color: rgba(20,20,130,1.00);
}
#floater
{
	float: right;
	margin-left: 25px;
}
footer
{
	margin-top: 50px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}