/* Jigsaw*/
body
{
	background-image: url(../images/minecraftbackground.jpg);
	padding-top: 35px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 24px;
}
.middleTitle
{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	text-align: center;
	color: #00ff00;
}
h4
{
	text-align: right;
	padding-bottom: 20px;
	color: rgba(128,63,16,1.00);
}
#note
{
	color: red;
	font-style: italic;
}
#header
{
	width: 95%;
	padding-top: 15px;
	clear: both;
	text-align: center;
	color: rgba(148,193,28,1.00);
	margin-left: auto;
	margin-right: auto;
}
#banner
{
	clear: both;
	width: 100%;
}
.content
{
	padding-bottom: 20px;
	padding-top: 20px;
	
	background-color: white;
	border-radius: 10px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
ol
{
	padding-left: 65px;
	color: rgba(68,13,120,1.00);
	font-weight: 900;
}
.listcontent
{
	padding-left: 10px;
	color: black;
	font-weight: 200;
}
table
{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}
table, th, td
{
	border-bottom: solid 2px rgba(0,0,0,1.00);
}
#tableheader1
{
	width: 25%;
	color: white;
}
#tableheader2
{
	width: 30%;
	color: white;
}
#tableheader3
{
	width: 45%;
	color: white;
}
#container
{
	padding: 25px;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
	width: 85%;
	border-radius: 10px;
}
p
{
	padding-left: 50px;
	padding-right: 50px;
}
.subtitles
{
	padding-left: 20px;
	background: linear-gradient(to right, rgba(144,208,160,1.00) , white);
}
caption
{
	margin: 15px;
	font-weight: 700;
	font-size: 34px;
}
.odd
{
	background-color: rgba(214,244,175,1.00);
}
.even
{
	background-color: rgba(240,246,192,1.00);
}
#toprow
{
	background-color: rgba(118,68,166,1.00);
}
#floater
{
	float: right;
	margin-left: 25px;
	margin-top: 20px;
}
footer
{
	width: 94%;
	font-size: 14px;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: rgba(12,137,222,1.00);
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}
