body {
	background-image: url(../images/colorful-bicycle-background.jpg);
	background-repeat: repeat;
	background-size: 500px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding-bottom: 50px;
	font-size: 16px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	padding-top: 15px;
	background-color: azure;
	border: solid 20px black;
	border-radius: 10px;
}

.french{
	color: rgba(132,0,0,1.00);
}

h3 {
	padding: 5px;
	padding-left: 15px;
	background: linear-gradient(to right, rgba(55, 76, 97, 1.00), white);
	color: white;
}

h4 {
	text-align: center;
	padding: 5px;
	background: rgba(55, 76, 97, 1.00);
	color: white;
}

h5 {
	font-weight: 700;
}

#topvideo {
	max-width: 800px;
}