/*Netiquette*/
header
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	clear: both;
}
h1
{ 
	font-size: 75px;
	text-align: center;
}
h4 {
	color:rgba(11,11,11,1.00);
}
#learnerdescription{
	color: rgba(255,0,0,1.00);
	text-shadow: 1px 1px black;
}
#subtitle
{
	color: black;
	font-size: 25px;
	font-weight: 400;
}
body
{
	background-color: rgba(98,207,255,1.00);
	margin-left: 90px;
	margin-right: 90px;
}
ul
{
	list-style-type: circle;
}
aside
{
	margin-top:25px;
	color: rgba(5,42,126,1.00);
	float: right;
	width: 23%;
	border: thick dashed red;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 24px;
	background-color: yellow;
	font-weight: 900;
	border-radius: 10px;
	clear: right;
}
hr
{
	color: rgba(11,58,167,1.00);
}
#listTitle
{
	text-align: center;
	color: black;
	font-size: 36px;
}
#content
{
	float: left;
	width: 75%;
	max-width: 1000px;
}
footer
{
	color: rgba(131,16,16,1.00);
	font-weight: 500;
	clear: both;
	padding-top: 5px;
}
.subtext
{
	font-size: 18px;
}
.firstLetter
{
	color: rgba(212,12,47,1.00);
	font-size: 75px;
}

.contentItem
{
	margin-top:25px;
	background-color: yellow;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 1px;
	border-radius: 10px;
	border: thick solid rgba(11,58,167,1.00);
}
.netsmart
{
	color: red;
	text-shadow: 2px 2px black;
}